.DS_Store
__pycache__/
*.pyc
.venv/
*.egg-info/
.idea/
**/.idea/
.ipynb_checkpoints/

results/
/paper3/
artifacts_zip*.zip
benchmarks/longmemeval_s_cleaned_normalized.jsonl
benchmarks/msc_valid_raw.jsonl
benchmarks/longmemeval_s_cleaned_raw.json
